# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/generated/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/settings.json
*.swp

# Testing
coverage/
playwright-report/
test-results/
